<div className="card-panel grey lighten-2">
  <div className="container">
    <h3>Calendar App</h3>
    <p>Easy calendar events viewer. View your Google Calendar events now!</p>
    <br/>
    <% unless current_user %>
      <a href=<%= login_path %> class='waves-effect waves-light btn teal lighten-2'>
        Login using Google
      </a>
    <% end %>
  </div>
</div>
