Daily Events
<% @calendars.each do |calendar| %>
  <h3><%= calendar['summary'] %></h3>
  <ul>
    <% calendar['daily_events'].each do |event|%>
      <li><%= event['summary'] %></li>
    <%end%>
  </ul>
<%end%>