<h4>All Events for <%= @calendar['summary'] %></h4>
<br/>
<ul class="collection with-header">
  <%= render partial: "/events", locals: { events: @calendar['events']} %>
  <% if(@calendar['events'].count == 0) %>
    <li class="collection-item">No events for this calendar!</li>
  <%end%>
</ul>
