<h4>All Events for <%= @calendar['summary'] %></h4>
<br/>
<ul class="">
  <%= render partial: "/events", locals: { events: @calendar['active_events']} %>
  <% if(@calendar['active_events'].count == 0) %>
    <li class="collection-item">No events for this calendar!</li>
  <%end%>
</ul>
