<% events.each do |event, action|%>
  <li class="collection-item">
    <span class='bold-text'><%= event['summary'] %></span>
    <p><%= event['description'] %></p>
    <%= format_event_duration(event, action) %>
  </li>
<%end%>
